// ==============================
// 📱 Breakpoints (для _mixins.scss)
// ==============================
$breakpoints: (
  "xs": 380px,
  "sm": 560px,
  "md": 820px,
  "lg": 1024px,
  "xl": 1200px,
);

// ==============================
// 🔤 Шрифты (используем уже определённый Inter Display)
// ==============================
$font-body: "Open Sans", "Segoe UI", sans-serif;
$font-title: "Inter Display", sans-serif;
